<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login Admin</title>
  <link rel="stylesheet" href="/css/agendar.css">
</head>
<body>
  <main class="container" style="max-width: 420px;">
    <h1 style="text-align:center;">Login Admin</h1>

    <section class="card">
      <label>Email</label>
      <input id="email" type="email" placeholder="admin@email.com" />

      <label>Senha</label>
      <input id="password" type="password" placeholder="••••••••" />

      <button id="loginBtn" type="button" style="margin-top:12px; width:100%;">
        Entrar
      </button>

      <p id="msg" class="msg" style="margin-top:10px;"></p>
    </section>
  </main>

  <script src="/css/js/admin.js"></script>
</body>
</html>