<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Admin - Login</title>
  <link rel="stylesheet" href="/css/agendar.css">
</head>
<body>
  <main class="container">
    <h1>Admin - Login</h1>

    <section class="card">
      <label>Email</label>
      <input id="email" type="email" placeholder="admin@admin.com" />

      <label>Senha</label>
      <input id="password" type="password" placeholder="********" />

      <div class="row" style="margin-top: 12px;">
        <button id="loginBtn">Entrar</button>
      </div>

      <p id="msg" class="msg"></p>
    </section>
  </main>

  <script src="/css/js/admin.js"></script>
</body>
</html>
